.widget {
    background: antiquewhite;
    height: calc(100vh - 70px);
    /* max-height: 90vh; */
    border: 1px solid #74a9bb;
    flex: 0.8;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    max-height: 80vh;
    background-color: white;
}
.widget_header {
    margin: auto;
    width: max-content;
    text-align: center;
}
.widget_header h4{
    font-size: 17px;
    font-weight: 300;
    color: rgb(96, 99, 100);
}
.widget_body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.widget .widget_contents {
    /* display: flex; */
    cursor: pointer;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: max-content;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    overscroll-behavior: contain;
}
.widget .widget_contents .widget_content {
    background-color: rgb(191 183 184 / 41%);
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: inset 5px 1px 3px -1px firebrick;
    border-radius: 5px;
    display: flex;
    grid-template-columns: 25% 75%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    width: 75%;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    height: 70px;
}
.widget_content > img {
    height: 40px;
    border-radius: 50%;
    width: 40px;
}
.widget__contentTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 75%;
    align-items: flex-start;
}
.widget__contentTitle > h5{
font-size: 17px;
font-weight: 500;
padding-left: 10px;
color:rgb(200, 49, 49);
}
.widget__contentTitle > p {
    padding: 0px 10px;
    width: auto;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 200;
    color: darkslateblue;
}