main {
    margin: 0;
    width: 50vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}
.QuoraBox{
    display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.QuoraBox:hover{
    border: 1px solid rgb(175, 175, 175);
}
