
.Qheader{
    width: 100vw;
    height: 70px;
    overflow: hidden;
    position: relative;
    padding:0;
    margin: 0;
    background-color: lightgray;
    
}
.Qheader_container{
    margin: 5px 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.Qheader_container .Qheader_logo{
    width: 100px;
    height: 60px;
    overflow: hidden;

}
.Qheader_container .Qheader_logo img{
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.Qheader_Icons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.Qheader_Icons .Qheader_Icon {
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 5px;
}
.qHeader__input {
    padding-top: 7px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.qHeader__input .AddQuestionBtn {
    border: none;
    outline: 1px solid #ffffff;
    padding: 7px;
    width: auto;
    max-width: 90%;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    transform: background translate(10px);
    transition: all .35s ease-in-out;
   
}
.qHeader__input .AddQuestionBtn:hover{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
.QheaderRemaining {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    margin: 10px 0px;
    /* padding: 0px 7px; */
    height: 100%;
    width: 200px;
}
.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  
  .modal__title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
  }
  
  .modal__title > h5:hover {
    color: #b92b27;
  }
  
  .modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
  
  .modal__info > p {
    margin-left: 10px;
    font-size: small;
    color: gray;
  }
  
  .modal__info > .modal__scope {
    display: flex;
    align-items: center;
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal__Field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
  }
  
  .modal__Field > .modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .modal__Field > .modal__fieldLink > input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
  }
  
  .modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal__buttons > .cancle {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .modal__buttons > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0, 64, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }