.Sidebar_options {
    display: flex;
    height: calc(100vh - 70px);
    width: 250px;
    background-color: rgb(191, 183, 184);
    overflow-y: auto;
    position: relative;
    padding: 0px;
    font-size: 17px;
    flex-direction: column;
    
}
.Sidebar_options .Sidebar_option {
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    overflow: hidden;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
    transform: background;
    transition: all 0.5s ease-out;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.Sidebar_options .Sidebar_option:hover{
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.Sidebar_options .Sidebar_option img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
}
.Sidebar_options .Sidebar_option > p {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    /* right: 0px; */
    margin-right: auto;
    left: 10rem;
    margin-left: 1px;
}